@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a Dream Weaver to @Html.DisplayFor(model => model.Name)</h2>
<hr />
<h4>Choose a Engineer to add to this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @if (ViewBag.EngineerId == null)
  {
    <p>No Dream Weavers are in our system</p>
    <p>You can add a new Dream Weaver @Html.ActionLink("here", "Create", "Engineers")</p>
  }
  else
  {
    @Html.Label("Select a Dream Weaver")
    @Html.DropDownList("EngineerId")
    <input type="submit" value="Save" />
  }
}