@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<div class="row">
  <div class="card col-sm-8 mx-auto p-3" style="width: 30rem">
    <h2>Dream Weaver Details</h2>
    <hr />
    <div>
      <h3>@Html.DisplayFor(model => model.Name)</h3>
      <h4>@Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)</h4>
      <h4>Date Hired: @Html.DisplayFor(model => model.HireDate)</h4>
      @if (Model.IsActive)
      {
        <h4>Status: Weaving Dreams</h4>
      }
      else
      {
        <h4>Status: Dreamless</h4>
      }
      @using (Html.BeginForm("ChangeStatus", "Engineers", new { id = Model.EngineerId }))
      {
        <label>Change Status</label>
        <input type="submit" value="weaving/dreamless" />
      }
    </div>
  </div>
</div>

<h4>Dream catcher Licence expiration: @Html.DisplayFor(model => model.Renewal)</h4>
<hr />
@if (@Model.JoinEntities.Count == 0)
{
  <p>No DreamWorks Mirage machines have been assigned.</p>
}
else
{
  <h4>DreamWorks Mirage Machine/s assigned: </h4>
  <ul>
    @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>@join.Machine.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

</div>
<hr />
<p>@Html.ActionLink("Add a Dream Weaver", "Create")</p>
<p>@Html.ActionLink("Update Details ", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Add a machine", "AddMachine", new { id = Model.EngineerId })</p>


