@{
  Layout = "_Layout";
}
@using Factory.Models;

<p class="text-center">Dr. Sillystringz's Factory</p>

<div class="row">
  <div class="col-sm" id="splashCard">
    <h4 class="text-center">Engineers</h4>
    @if (Model["engineers"].Length == 0)
    {
      <p>No Engineers have been added yet!</p>
    }
    else
    {
      <ul>
        @foreach (Engineer engineer in Model["engineers"])
        {
          <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId })</li>
        }
      </ul>
    }
  </div>
  <div class="col-sm" id="splashCard">
    <h4 class="text-center">Machines</h4>
    @if (Model["machines"].Length == 0)
    {
      <p>No machines have been added yet!</p>
    }
    else
    {
      <ul>
        @foreach (Machine machine in Model["machines"])
        {
          <li>@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = @machine.MachineId })</li>
        }
      </ul>
    }
  </div>
</div>
